@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.container {
    width: 605px;
    height: 605px;
    border-radius: 25px;
    text-align: center;
    padding: 91px 0 97px 0;
    background-color: #fff;
}
h1 {
    font-size: 32px;
    font-weight: 700;
}
p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 52px;
}
.container > input {
    width: 379px;
    height: 74px;
    padding: 25px 30px;
    color: #151936, 100%;
    font-weight: 400;
    border: 1px solid #A7AAC9;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.a {
    margin-bottom: 36px;
    display: flex;
    width: 50%;
    margin: 0 auto;

}
.checkbox {
    background-color: #2D2865;
    width: 30px;
    height: 30px;
    margin-right: 14px;
}
.label {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}
a {
    background-color: #2D2865;
    padding: 25px 139.5px;
    margin-top: 36px;
    margin-bottom: 97px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;

}
